In [13]:
import pandas as pd
trips = pd.read_csv('../Project/bikeshare_trips.csv')
trips.info()
trips.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   trip_id             500 non-null    int64
 1   subscriber_type     500 non-null    object
 2   bikeid              500 non-null    int64
 3   start_time          500 non-null    object
 4   start_station_id    500 non-null    int64
 5   start_station_name  500 non-null    object
 6   end_station_id      500 non-null    int64
 7   end_station_name    500 non-null    object
 8   duration_minutes    500 non-null    int64
dtypes: int64(5), object(4)
memory usage: 35.3+ KB

,trip_id,subscriber_type,bikeid,start_time,start_station_id,start_station_name,end_station_id,end_station_name,duration_minutes
0,9900285908,Annual Membership (Austin B-cycle),400,26/10/2014 14:12:00,2823,Capital Metro HQ - East 5th at Broadway,2544,East 6th & Pedernales St.,10
1,9900289692,Walk Up,248,02/10/2015 21:12:01,1006,Zilker Park West,1008,Nueces @ 3rd,39
2,9900285987,24-Hour Kiosk (Austin B-cycle),446,26/10/2014 15:12:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,31
3,9900285989,24-Hour Kiosk (Austin B-cycle),203,26/10/2014 15:12:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,31
4,9900285991,24-Hour Kiosk (Austin B-cycle),101,26/10/2014 15:12:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,30

In [30]:
#Rename column name for dataset trip, set it to Title and inplace = True

trips = trips.rename (columns={'bikeid':'bike_id'}).rename(columns=str.title)
trips

,Trip_Id,Subscriber_Type,Bike_Id,Start_Time,Start_Station_Id,Start_Station_Name,End_Station_Id,End_Station_Name,Duration_Minutes
0,9900285908,Annual Membership (Austin B-cycle),400,26/10/2014 14:12:00,2823,Capital Metro HQ - East 5th at Broadway,2544,East 6th & Pedernales St.,10
1,9900289692,Walk Up,248,02/10/2015 21:12:01,1006,Zilker Park West,1008,Nueces @ 3rd,39
2,9900285987,24-Hour Kiosk (Austin B-cycle),446,26/10/2014 15:12:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,31
3,9900285989,24-Hour Kiosk (Austin B-cycle),203,26/10/2014 15:12:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,31
4,9900285991,24-Hour Kiosk (Austin B-cycle),101,26/10/2014 15:12:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,30
...,...,...,...,...,...,...,...,...,...
495,9900297658,Local365,884,09/10/2015 16:12:54,1007,Lavaca & 6th,2712,Toomey Rd @ South Lamar,9
496,9900297690,Local365,275,09/10/2015 14:12:53,1007,Lavaca & 6th,2576,Rainey @ River St,14
497,9900297730,Local365,974,09/10/2015 12:12:06,2541,State Capitol @ 14th & Colorado,1007,Lavaca & 6th,0
498,9900297740,Local365,386,09/10/2015 16:12:54,1006,Zilker Park West,1006,Zilker Park West,2
499,9900297744,Local365,890,09/10/2015 18:12:49,1006,Zilker Park West,2712,Toomey Rd @ South Lamar,7

In [31]:
stations=pd.read_csv('../Project/bikeshare_stations.csv')
# stations.info()
stations.head()

,station_id,name,status,address,alternate_name,city_asset_number,property_type,number_of_docks,power_type,footprint_length,footprint_width,notes,council_district,modified_date
0,2541,State Capitol @ 14th & Colorado,closed,206 W. 14th St.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021-01-04 12:00:00.000000 UTC
1,2538,Bullock Museum @ Congress & MLK,closed,1881 Congress Ave.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021-01-04 12:00:00.000000 UTC
2,2545,ACC - Rio Grande & 12th,closed,700 W. 12th St.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,2021-01-04 12:00:00.000000 UTC
3,2546,ACC - West & 12th Street,closed,1231 West Ave.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,2021-01-04 12:00:00.000000 UTC
4,2564,5th & San Marcos,closed,991 East 5th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2021-01-04 12:00:00.000000 UTC

In [32]:
#Rename column name for dataset trip, set it to Title and inplace = True
stations = stations.rename (columns={'name':'station_name'}).rename(columns=str.title)
stations

,Station_Id,Station_Name,Status,Address,Alternate_Name,City_Asset_Number,Property_Type,Number_Of_Docks,Power_Type,Footprint_Length,Footprint_Width,Notes,Council_District,Modified_Date
0,2541,State Capitol @ 14th & Colorado,closed,206 W. 14th St.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021-01-04 12:00:00.000000 UTC
1,2538,Bullock Museum @ Congress & MLK,closed,1881 Congress Ave.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021-01-04 12:00:00.000000 UTC
2,2545,ACC - Rio Grande & 12th,closed,700 W. 12th St.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,2021-01-04 12:00:00.000000 UTC
3,2546,ACC - West & 12th Street,closed,1231 West Ave.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,2021-01-04 12:00:00.000000 UTC
4,2564,5th & San Marcos,closed,991 East 5th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2021-01-04 12:00:00.000000 UTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,0,South Congress/Mary,active,1901 South Congress Ave.,NaN,NaN,undetermined_parking,11.0,solar,40.0,10.0,In the gutter,9,2022-03-04 09:01:00.000000 UTC
98,3377,MoPac Pedestrian Bridge @ Veterans Drive,active,2105 Veterans Dr.,NaN,16598.0,undetermined_parking,19.0,solar,55.0,5.0,parkland in ROW/eastment,9,2021-01-04 12:00:00.000000 UTC
99,3794,Dean Keeton & Speedway,active,180 E. Dean Keeton St.,NaN,32670.0,undetermined_parking,19.0,solar,55.0,5.0,NaN,9,2021-01-04 12:00:00.000000 UTC
100,3795,Dean Keeton & Whitis,active,300 W. Dean Keeton St.,NaN,32671.0,undetermined_parking,19.0,solar,55.0,5.0,NaN,9,2021-01-04 12:00:00.000000 UTC
101,3797,21st & University,active,2007 University Ave.,NaN,32674.0,undetermined_parking,19.0,solar,55.0,5.0,ROW might belong to UT,9,2021-01-04 12:00:00.000000 UTC